- if !can_add_new_line(current_user, @story)
  .add-new-line
    .profile-picture
      = image_tag current_user.image
    .form
      .new-line
        = form_for @story, :url => story_url(@story) do |f|
          = f.fields_for :lines, Line.new do |l|        
            = l.text_field :text
      .form-submit= link_to "Add next line", '#new-line-dialogue', :class => "btn primary large show-modal add-new-line"
        
- else
  = link_to 'Invite friends to continue the story', "#", {:class => 'invite-friends btn primary large'}