%p= "#{@home_welcome}"
%p
  = form_for Story.new do |f|
    = f.fields_for :lines, Line.new do |l|
      .control-group.new-line
        = l.text_field :text, :class => 'new_line'
= render :partial => 'new_story_modal'
= render :partial => 'no_friends_modal'
%p= link_to "Start a new story", '#new-story-dialogue', :class => "btn primary large show-modal start-new-story"
