- authors = (story.users - [story.user]).take(5) 
.story-intro
  .cover
    .started-by A story started by
    .author-picture= image_tag story.user.image
    .author-name= story.user.name
    - if authors.empty?
      .first-line
        &bdquo;
        = story.lines.first.text
        &ldquo;
    - else
      .then-by and co-written by
      .other-authors-images
        - authors.each do |u|
          = image_tag u.image
      .other-authors
        #{authors.first.name}
        - if story.users.size > 2
          and #{pluralize story.users.size - 2, 'other'}
  - if story.involves?(current_user)      
    .write-now{:class => "write-now-style-#{rand(3) + 1}"}
      %a{:href => story_url(story)}
        .feather
          = image_tag 'feather-logo-white.png'
        Write now!