- authors = (story.users - [story.user]).take(5) 
.story-intro
  .cover
    .started-by A story by
    .author-picture= image_tag story.user.image
    .author-name= story.user.name
    .first-line
      &bdquo;&nbsp;#{truncate story.lines.first.text, :length => 60}&nbsp;&ldquo;
    - unless authors.empty?
      .then-by and co-written by
      .other-authors-images
        - authors.each do |u|
          = image_tag u.image
      .other-authors
        #{authors.first.name}
        - if story.users.size > 2
          and #{pluralize story.users.size - 2, 'other'}
  - if can_add_new_line(current_user, story)
    .write-now{:class => "write-now-style-#{rand(3) + 1}"}
      %a{:href => story_url(story)}
        .feather
          = image_tag 'feather-logo-white.png'
        Write now!