%h1= link_to "Uberstory", root_url

%h3 Started by #{@story.user.first_name}

.alert.fade.in.hide
  %button.close{"data-dismiss" => "alert"} ×
  %strong Thank you
  You have invited quite a few friends, thanks.

- @story.lines.each do |line|
  %p
    = image_tag line.user.image
    - if line.visible_to?(current_user)
      = line.text
    - else
      %span.blurred{:title => "No sneaking!", "data-content" => "You need to write a new line to read the story"}= garbage(line.text)
- if @story.involves?(current_user)
  = render :partial => "add_line"
      
  %p
    = link_to 'Invite friends', "#", {:class => 'invite-friends btn primary large'}
