!!! 5
/[if lt IE 7 ] <html lang="en" class="no-js ie6">
/[if IE 7 ] <html lang="en" class="no-js ie7">
/[if IE 8 ] <html lang="en" class="no-js ie8">
/[if IE 9 ] <html lang="en" class="no-js ie9">
/ [if (gt IE 9)|!(IE)]><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %title Uberstory
    = javascript_include_tag "application"
    %link{:rel => "stylesheet/less", :href => "/assets/bootstrap/bootstrap.less"}
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
    = render :partial => "layouts/kissmetrics"
  %body
    - if user_signed_in?
      #user-uid.hide= current_user.uid
      #user-name.hide= current_user.name
    .container.canvas
      = render :partial => "shared/header"
      = render :partial => "layouts/facebook"
      = render :partial => "shared/flash", :locals => {:flash => flash}
      = yield
      = render :partial => "shared/footer"    

