!!!
%html
  %head
    %title Uberstory
    = javascript_include_tag "application"
    %link{:rel => "stylesheet/less", :href => "/assets/bootstrap/bootstrap.less"}
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
  %body
    .container.canvas
      = render :partial => "shared/header"
      = render :partial => "layouts/facebook"
      = render :partial => "shared/flash", :locals => {:flash => flash}
      = yield
      = render :partial => "shared/footer"    

